<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="org.myspringapps"/>

<!--    <context:property-placeholder location="classpath:musicPlayer.properties"/>-->

<!--    &lt;!&ndash; id - уникальный идендитификатор нашего обьекта/бина &ndash;&gt;-->
<!--    &lt;!&ndash; constructor-arg - передаем аргументы в конструктор &ndash;&gt;-->
<!--    <bean id="musicBean"-->
<!--          class="org.myspringapps.RockMusic"-->
<!--          init-method="init"-->
<!--          destroy-method="destroy"-->
<!--          factory-method="getRockMusic">-->
<!--    </bean>-->
<!--    <bean id="musicPlayer"-->
<!--          class="org.myspringapps.MusicPlayer"-->
<!--          init-method="init"-->
<!--          destroy-method="destroy">-->
<!--        <property name="music" ref="musicBean"/>-->
<!--        <property name="name" value="${musicPlayer.name}"/>-->
<!--        <property name="volume" value="${musicPlayer.volume}"/>-->
<!--    </bean>-->

</beans>